@font-face {
    font-family: 'Supertalls';
    src: local('Supertalls'),
         url(./Font/Supertalls.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}